header{
   background-color: green;
}
header::after{
    content: '';
    display: table;
    clear: both;
} 
nav ul{
    margin: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin: 0;
}
nav button{
    border-style: none;
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    size: 2cm;
    height: 2cm;
}
nav button:hover{
    color: white;
}