<html>
    <head>
        <meta charset="UTF-8">
        <title>Bioloģijas Darbs</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\main.css"/>
        <link rel="stylesheet" type="text/css" href="..\static\css\navbar.css"/>
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><button>About</button></li>
                        <li><button>Results</button></li>
                        <li><button>Chat</button></li>
                        <li><button>Contact Us</button></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>