<html>
    <head>
        <meta charset="UTF-8">
        <title>Bioloģijas Darbs</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\main.css"/>
        <link rel="stylesheet" type="text/css" href="..\static\css\navbar.css"/>
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="BioM.html">Contact Us</a></li>
                        <li><a href="BioR.html">Contact Us</a></li>
                        <li><a href="BioCh.html">Contact Us</a></li>
                        <li><a href="BioC.html">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</html>