<html>
<head>
  <meta charset="UTF-8">
  <title>Bioloģijas Darbs</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="stylesheet" href="../static/css/BioR.css">
</head>
<body>
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Project-Bio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Par Mums<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/BioCh">Čats<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/BioC">Kontakti<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
  <div>

  <div id="A">
    <h1>REZULTĀTU TABULA</h1><br/>
    <img id="tab" src="../static/img/Tabula.jpg" alt="Tabula">
  </div>

  <div id="B">
    <h1>EKSPERIMENTA BILDES</h1><br/>
    <div class="container">
      <img src="../static/img/11111.jpg" id="aa">
    </div>
    <button class="imgButton" onclick="document.getElementById('aa').src='../static/img/11111.jpg'">1</button>
    <button class="imgButton" onclick="document.getElementById('aa').src='../static/img/22222.jpg'">2</button>
    <button class="imgButton" onclick="document.getElementById('aa').src='../static/img/33333.jpg'">3</button>
    <button class="imgButton" onclick="document.getElementById('aa').src='../static/img/44444.jpg'">4</button>
    <button class="imgButton" onclick="document.getElementById('aa').src='../static/img/55555.jpg'">5</button>
  </div>
    
  </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>